*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    margin: 0 auto;
    background-color: #1a575f;
    max-height: 700px;
}

.desk{
    margin: 2.5% auto;
    width: 100%;
    height: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    -ms-align-items: center;
    align-items: center;
}

#desk__inner{
    width: 32em;
    height: 2em;
/*
    width: 600px;
    height: 600px;    
*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
}

.cell{
    border: 1px solid #000;
    width: 170px;
    height: 170px;
    background-color: aqua;
    font-size: 180px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.colorX{
    background-color: #c60b0b;
}

.colorO{
    background-color: #88ab0f;
    filter: brightness(2.4);
}

.colorA{
    background-color: aqua;
}

.player__inf{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    color: #fff;
    margin-top: 20px;
}

.player{
    margin: 0 auto;
    filter: saturate(50%);
}

.active__player{
    transform: scale(1.5);
    filter: brightness(2.4);
}

.p1-color{
    color: #c60b0b;
}

.p2-color{
    color: #88ab0f;
}

.score__inf h1{
    text-align: center;
    color: #fff;
}

.winner{
    background-color: #5e7376;
    width: 100%;
    height: 100%;
    z-index: 30;
}

.winner__body{
    margin: 0 auto;
    height: 100px;
    width: 200px;
    background-color: #66979e;
}


























